
#fondo{
    background-image: url("../img/Fondo.png"); 
    background-repeat: no-repeat;
    background-size: cover;
 
}
.contenedor{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local;
}
.contenedor h1{
    top: 10%;
    left: 25%;
    background-attachment:local;
    background-size: cover;
    position: absolute;
    text-align: center;
    font-family: 'Common Pixel', sans-serif;

    font-size: 700%;
}
.contenedor button{
    
    top: 50%;
    left: 45%;
    position: absolute;
    font-family: 'Common Pixel', sans-serif;
  
}
#bobby{
    margin-top: 33%;
    margin-left: 20%;
    height: 80px;
}
#fondojuego{
    background-image: url("../img/FondoBase.png"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.contenido button{
    top: 10%;
    left: 80%;
    position: absolute;
    font-family: 'Common Pixel', sans-serif;
}