.contenedor{
   background-image: url("../img/Fondo.png");
   background-repeat: no-repeat;
   background-position: center center;
  background-size: contain;
  background-attachment: scroll;
   height:520px;
   width: 1175px;
   min-width: 100%;
}
.contenedor h1{
    top: 20%;
    left: 30%;
    position: absolute;
    text-align: center;
    font-family: 'Common Pixel', sans-serif;
    background-attachment: fixed;
    font-size: 800%;
}
.contenedor button{
    top: 50%;
    left: 45%;
    position: absolute;
  
}
